<a href="https://colab.research.google.com/github/sofiabulhoes/atividades_soulcode/blob/main/Atividade01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

In [6]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.window import Window

In [8]:
spark = (SparkSession.builder\
        .master("local")\
        .appName("aprendendo-dataframes")\
        .config("spark.ui.port", "4050")\
        .getOrCreate())

In [ ]:

dados = [
          (1,'Bob', 45,'M'),
          (2,'Gloria', 43, 'F'),
          (4,'Albert',28,'M'),
          (5,'Laura',33,'F'),
          (8,'Simone', 18,'T'),
          (12,'Marta',45,'F'),
          (45,'Jairo', 82,'M'),
          (13,'Teste', 38,'T')
]

schema = ['id', 'nome', 'idade', 'genero']

df = spark.createDataFrame(data=dados, schema=schema)
df.show()
df.printSchema()

**1) Verifique as pessoas com idade superior a 30 anos**

In [ ]:
df.filter(F.col('idade')>30).show()

**2) Verificar apenas as pessoas do sexo F**

In [ ]:
df.filter(F.col('genero') == 'F').show()

**3) Verifique a quantidade de pessoas por sexo**

In [ ]:
df.groupBy(F.col('genero')).count().show()

**4) Calcular a média de idade das pessoas**

In [ ]:
#df.groupBy().mean('idade').show()
media = df.select(F.mean('idade')).collect()[0][0]
print(f'Média das idades: {media:.2f}')

**5) Fazer uma seleção apenas do nome e idade das pessoas ordenando por nome**

In [ ]:
df.select(F.col('nome'), F.col('idade')).orderBy('nome').show()

**6) Mostrar um ranking de pessoas por idade (Do mais novo para o mais velho)**

In [ ]:
w1 =  Window.orderBy('idade')
df.withColumn('rank', F.row_number().over(w1)).show()

# Finalizado!