<a href="https://colab.research.google.com/github/sofiabulhoes/atividade_0311_soulcode/blob/main/MiniProjeto_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importando a biblioteca pandas para uso no dataframe

In [1]:
import pandas as pd

Importando os dados, configurando a data e setando o separador

In [111]:
df = pd.read_csv('/content/drive/MyDrive/EngDADOS/MiniProjeto/marketing_campaign.csv - marketing_campaign.csv.csv', sep=',', parse_dates=['Dt_Customer'], dayfirst=True)

Realizando Drop nas colunas que não serão usadas

In [112]:
df.drop('Z_CostContact', axis=1, inplace=True)
df.drop('Z_Revenue', axis=1, inplace=True)

Renomeando os nomes das colunas realizando a tradução para o português

In [113]:
df.rename(columns={'Year_Birth': 'Ano_Nascimento', 'Education': 'Educacao', 'Marital_Status':'Estado_civil', 'Income': 'Renda' ,'Kidhome':'Criancas_EmCasa', 'Teenhome': 'Adolesc_EmCasa', 'Dt_Customer':'Dt_Cliente','Recency': 'Recencia', 'MntWines':'MntVinhos', 'MntFruits': 'MntFrutas', 'MntMeatProducts': "MntProdutosDeCarne" , 'MntFishProducts': 'MntPrdutosDePeixe', 'MntSweetProducts': 'MntProdutosDoces', '	MntGoldProds':'MntProdDeOuro', 'NumDealsPurchases': 'NumComprasPromocao', 'NumWebPurchases': 'NumWebCompras', 'NumCatalogPurchases': 'NumComprasCatalogo' , 'NumStorePurchases': 'NumeroComprasEmLoja', 'NumWebVisitsMonth':'NumWebVisitas_Mes', 'AcceptedCmp3':'CmpAceito3', 'AcceptedCmp4':'CmpAceito4', 'AcceptedCmp5':'CmpAceito5', 'AcceptedCmp1':'CmpAceito1', 'AcceptedCmp2':'CmpAceito2', 'Complain':'Reclamacao', 'Response':'Resposta' }, inplace=True)

Realizando a tradução dos dados e a normalização de dados para a coluna 'Estado_Civil' (Previmanete realizado o comando df[columnname].unique() para averiguar os dados contidos)

In [114]:
df['Estado_civil'].replace('Single', 'Solteiro(a)', inplace=True)
df['Estado_civil'].replace('Absurd', 'Solteiro(a)', inplace=True)
df['Estado_civil'].replace('YOLO', 'Solteiro(a)', inplace=True)
df['Estado_civil'].replace('Together', 'Juntado(a)', inplace=True)
df['Estado_civil'].replace('Divorced', 'Divorciado(a)', inplace=True)
df['Estado_civil'].replace('Married', 'Casado(a)', inplace=True)
df['Estado_civil'].replace('Widow', 'Viuvo(a)', inplace=True)
df['Estado_civil'].replace('Alone', 'Solteiro(a)', inplace=True)

Realizando a tradução dos dados e a normalização de dados para a coluna 'Educacao' (Previmanete realizado o comando df[columnname].unique() para averiguar os dados contidos)

In [115]:
df['Educacao'].replace('Master', 'Mestre', inplace=True)
df['Educacao'].replace('Master', 'Mestre', inplace=True)
df['Educacao'].replace('Basic', 'Basico', inplace=True)
df['Educacao'].replace('Graduation', 'Graduação', inplace=True)
df['Educacao'].replace('2n Cycle', 'Ciclo 2n', inplace=True)

Realizando a tradução dos dados e a normalização de dados para as colunas de Cmp (Previmanete realizado o comando df[columnname].unique() para averiguar os dados contidos)

In [116]:
df['CmpAceito3'].replace(0, 'Nao', inplace=True)
df['CmpAceito3'].replace(1, 'Sim', inplace=True)
df['CmpAceito4'].replace(0, 'Nao', inplace=True)
df['CmpAceito4'].replace(1, 'Sim', inplace=True)
df['CmpAceito5'].replace(0, 'Nao', inplace=True)
df['CmpAceito5'].replace(1, 'Sim', inplace=True)
df['CmpAceito1'].replace(0, 'Nao', inplace=True)
df['CmpAceito1'].replace(1, 'Sim', inplace=True)
df['CmpAceito2'].replace(0, 'Nao', inplace=True)
df['CmpAceito2'].replace(1, 'Sim', inplace=True)

Realizando a tradução dos dados e a normalização de dados para a coluna 'Resposta' (Previmanete realizado o comando df[columnname].unique() para averiguar os dados contidos)

In [117]:
df['Resposta'].replace(1, 'Sim', inplace=True)
df['Resposta'].replace(0, 'Nao', inplace=True)

Realizando a tradução dos dados e a normalização de dados para a coluna 'Reclamacao' (Previmanete realizado o comando df[columnname].unique() para averiguar os dados contidos)

In [118]:
df['Reclamacao'].replace(0, 'Nao', inplace=True)
df['Reclamacao'].replace(1, 'Sim', inplace=True)

Verificando a existencia de linhas nulas em cada coluna do DF

In [ ]:
df.isnull().sum()

Realizando a exclusão dos dados nulos

In [120]:
df.dropna(axis=0, inplace = True)

Verificando a limpeza dos dados

In [ ]:
df.isnull().sum()

Mostrando o dataframe final

In [ ]:
df